* {
    --unclicked: #ffffff66;
    --hovering: #90ee9033;
    --clicked: lightgreen;
    --supervis: white;
    --smallvis: #ffffff44;
    --mention: #ffff00;
    --mention-bg: #ffff0022;
    --function-text: #6495ed;
}
/* DM list */
.interactive_f5eb4b {
    border: 1px dashed var(--unclicked);
}
.interactiveSelected_c91bad {
    border: 2px solid var(--clicked);
}
.channel_c91bad:hover {
    background-color: var(--hovering);

    .interactive_f5eb4b {
        border: 1px solid var(--hovering) !important;
    }
    .interactiveSelected_c91bad {
        border: 2px solid var(--hovering) !important;
    }
}
/* Server channels list */
.link_d8bfb3 {
    border: 1px dashed var(--unclicked);
}
.link_d8bfb3:hover {
    border: 1px solid var(--hovering);
    background-color: var(--hovering) !important;
}
.modeSelected_d8bfb3 .link_d8bfb3 {
    border: 2px solid var(--clicked);
}
/* Server members list */
.memberInner_a31c43 {
    border: 1px dashed var(--unclicked);
}
.memberInner_a31c43:hover {
    border: 1px solid var(--hovering) !important;
    background-color: var(--hovering) !important;
}
.selected_e9f61e .memberInner_a31c43 {
    border: 2px solid var(--clicked) !important;
}
/* user profiles */
.userPopoutOuter_c69a7b {
    border: 4px dashed var(--unclicked);
}
.header_c6e596 .bannerSVGWrapper_b32cc2 {
    border-bottom: 2px dashed var(--unclicked) !important;
}
.activity_cd74cc {
    border: 1px dashed var(--unclicked);
}
.userPopoutInner_c69a7b .inner_d0696b {
    border: 1px dashed var(--unclicked);
}
/* chat */
.channelTextArea_a7d72e {
    border: 1px dashed var(--unclicked);
}
/* extra */
.title_a7d72e {
    border-bottom: 1px dashed var(--unclicked);
}
/* active now */
.itemCard_f02fcf {
    border: 1px dashed var(--unclicked);
    
    .body_cd82a7 {
        border: 1px dashed var(--unclicked);
    }
}
.itemCard_f02fcf:hover {
    background-color: var(--hovering) !important;
    border: 2px solid var(--hovering);
}
/* friends */
.peopleListItem_d51464 {
    border: 1px dashed var(--unclicked);
    border-radius: 1em;
    padding: .5em
}
.peopleListItem_d51464:hover {
    border: 2px solid var(--hovering);
    border-radius: 1em;
    padding: .5em;
    background-color: var(--hovering) !important;
}
.userInfo_f3939d {
    align-items: center;
}
.actionButton_e01b91 {
    border: 1px dashed var(--smallvis);
}
/* friends top bar */
.item_c2739c {
    border: 1px dashed var(--unclicked);
}
.item_c2739c.selected_a0 {
    background-color: var(--smallvis) !important;
    border: 2px solid var(--clicked) !important;
}
.item_c2739c:hover {
    border: 1px solid var(--hovering);
    background-color: var(--unclicked) !important;
}
.item_c2739c:nth-child(5) {
    background-color: var(--unclicked) !important;
}
/* add friend */
.container_aef5fd {
    border: 1px dashed var(--unclicked);
}
.container_aef5fd:hover {
    border: 1px solid var(--supervis);
    background-color: var(--hovering) !important;
}
.addFriendInputWrapper_de812f {
    border: 1px dashed var(--unclicked);
}
/* user profile area */
.container_b2ca13 {
    border: 2px dashed var(--unclicked);
    border-radius: 1em;
}
/* various embedded */
.nonVisualMediaItem_df7417 {
    border: 2px dashed var(--unclicked);
    border-radius: .5em;
}
/* messages? */
.mentioned_d5deea::before {
    background-color: var(--mention);
}
.mentioned_d5deea {
    background-color: var(--mention-bg);
}
/* search */
.searchOption_b0286e {
    border: 1px dashed var(--unclicked);
}
.searchOption_b0286e:hover {
    border: 2px solid var(--supervis);
    background-color: var(--hovering);
}
.option_b0286e:not(.searchOption_b0286e) {
    border: 1px dashed var(--unclicked);

    .nonText_b0286e {
        color: var(--supervis) !important;
    }
}
.option_b0286e:not(.searchOption_b0286e):hover {
    border: 1px solid var(--supervis);
    background-color: var(--mention-bg);
}
.header_b0286e {
    color: var(--supervis) !important;
}
/* search filters are colored specifically to differentiate */
.filter_b0286e {
    color: var(--function-text) !important;
    font-weight: bolder;
}
.answer_b0286e {
    color: var(--function-text) !important;
    font-style: italic;
}
/* message buttons (reply, etc) */
.buttonsInner_d5deea {
    border: 1px dashed var(--supervis);
}
